#ohno{
    float: right;
    margin-top: -50px;
    margin-right: 60px;
}


#ohno2{
    float: right;
    margin-top: -50px;
    margin-right: 77px;
}


#ohno3{
    float: right;
    margin-top: -50px;
    margin-right:28px;
}

#light{
    float: right;
    margin-top: -100px;


}