/* #fo{
    margin-top: 50px;
} */

label.form-label {
    font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
  font-size: xx-large;
    display: inline-block;
    font-weight: bolder;
    margin-left: 590px;
    color: black;
  }


  .btn-danger {
    color: rgb(3, 14, 17);
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    background-color: orange;
    border: solid 4px  #0d0d0e;
    box-shadow: 10px 10px 5px -2px rgba(56,56,56,0.75);
    -webkit-box-shadow: 10px 10px 5px -2px rgba(56,56,56,0.75);
    -moz-box-shadow: 10px 10px 5px -2px rgba(56,56,56,0.75);
    margin-bottom: 20px;
    margin-top: 20px;
margin-left: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .btn-danger:hover {
    background-color:yellow;
    border: solid 5px #373838;
  }

  #input{
     
   text-align: center;
margin-left: 480px;
width: 400px;
height: 60px;
  }

  #group{
display: inline;
margin-left: 40px;


  }

  #form{
      background-color: #373838;
     
  }

  #ff{
      color: white;
text-align: center;
    font-size: xx-large;
    margin-top: 40px;
    padding-top: 20px;
  }

  #boo{
      margin-left: 620px;
      margin-top: 10px;
      margin-bottom: 10px;
  }