.btn-dark {
    color: rgb(3, 14, 17);

    height: 45px;
    text-align: center;
    font-family: 'Segoe UI';
 margin-bottom: 100px;
    background-color: crimson;
    border: solid 4px  #0d0d0e;
    box-shadow: 10px 10px 5px -2px rgba(245, 7, 7, 0.75);
    -webkit-box-shadow: 10px 10px 5px -2px rgba(245, 7, 7, 0.75);
    -moz-box-shadow: 10px 10px 5px -2px rgba(245, 7, 7, 0.75);
   

   
  }

  .btn-dark:hover {
    background-color:yellow;
    border: solid 3px #ffffff;

  }